.container {
    height: 100dvh;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "flow panel";
}

.navbar {
    grid-area: navbar;
    padding: 1rem;
    background-color: #f2f2f2;
    display: flex;
    justify-content: right;
}

.navbar-button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.flow {
    grid-area: flow;
    height: 100%;
}

.panel {
    grid-area: panel;
    border-left: 1px solid var(--primary-color);
    padding: 1rem;
}